<!Doctype html>
<html>
<body>

<h1><%= person.name %> You are <%= person.age %> years old </h1>
<br> <a href='/public/index.html'> create new person </a> 
 
<br><a href='/all'> Show All </a>
</body>
</html> 